.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    text-align: left;
    color: #f7f7f7;
    font-size: 18px;
    height: 32px;
    margin: 16px;
}
.logout {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 25px;
    color: #f7f7f7;
    font-size: 10px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.65);
}